<%- include('template/header', {webTitle:'Ecoplast Fern치ndez Pl치sticos'}) %>

<body>
  <%-include('navbar') %>

  <div class="container">
    <h1>Nuestros materiales</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripci칩n</th>
          <th scope="col">Acci칩n</th>
        </tr>
      </thead>
      <tbody>
        <% if (plasticArray.length >0) { %> <% plasticArray.forEach(plastic => {
        %>

        <tr>
          <th><%= plastic.id %></th>
          <th><%= plastic.name %></th>
          <th><%= plastic.description %></th>
          <th></th>
        </tr>

        <% }) %> <% } %>
      </tbody>
    </table>
  </div>
</body>
